{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include "includes/css.html" %}
  <title>USCA Data | Success!</title>
</head>

<body>
{% if messages %}
<h1 class="page_message">{% include "accounts/messages_display.html" %}</h1>{% endif %}
<div class="card rounded-0" id="login">
  <div class="card-body d-flex flex-column text-center">
    <h5 class="reset mb-2">Password reset complete!</a></h5>
    <hr class="soften">
    <p class="card-text text-muted mt-2">
      Your password has been set. You may go ahead and log in now.
      <br>
      <a href="{% url 'accounts:login' %}">Login</a>
    </p>
  </div>
</div>
<br/>
{% include "includes/js.html" %}
</body>
</html>
